<div class="py-5 text-center">
  <div class="jumbotron">
    <h1 class="display-4">Thank you!</h1>
    <p class="lead">We will give you a call as soon as we can!</p>
    <%= link_to "Go Back", root_path, class: 'btn btn-primary btn-lg'%>
  </div>
</div>